@{
    ViewData["Title"] = "E-Posta Gönderim Sitemi";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Posta Gönderim Sistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">



    <!-- Bootstrap core CSS -->
  
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        }
    </style>


    <!-- Custom styles for this template -->
   
    <link href="~/css/heroes.css" rel="stylesheet" />
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">E-Posta Gönderim Sistemine Hoşgeldiniz</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Aşağıdaki butonları kullanarak sisteme ekleme yapabilir, eklenmiş verileri listeleyebilir ve e-posta gönderebilirsiniz. </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
               
                <a class="btn btn-outline-success btn-lg px-4 " asp-area="" asp-controller="Kisi" asp-action="KisiListesi">Kişiler</a>
                <a class="btn btn-outline-success btn-lg px-4 gap-3" asp-area="" asp-controller="EPostaAdres" asp-action="EPostaAdresListesi">E-Posta Adresleri</a>
                <a class="btn btn-outline-success btn-lg px-4 gap-3" asp-area="" asp-controller="EPosta" asp-action="EPostaListesi">E-Postalar</a>
                
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - E-Posta Gönderim Sistemi 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 

</body>
</html>





